{% extends 'layouts/base.njk' %}

{% block content %}
    <div class="page-header">
		<h1>{{ title }}</h1>
		<p class="subhead">{{ site.description }}</p>
	</div>
	<div class="content">{{ content | safe }}<div>
{% endblock %}

{{ content | safe }}
