<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="css/main.css">
		{# <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}">
		<link rel="icon" href="{{ '/images/favicon.png' | path }}" > #}
		<title>{{ title }}</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
				<a href="/" class="link link--brand">
					<svg viewBox="0 0 32 32" class="icon icon--pcc" aria-hidden="true" focusable="true"><use href="/images/pcc.svg#pcc" /></svg>
					<span class="brand__title screen-reader-text">Platform Cooperative Tool Library</span>
				</a>
				<div class="inner">
					{# <nav aria-labelledby="menu-primary-label">
						<button class="button button--borderless menu-toggle" aria-expanded="false">
							<svg viewBox="0 0 20 20" class="icon icon--open" aria-hidden="true" focusable="true"><use href="/images/menu.svg#menu" /></svg>
							<svg viewBox="0 0 20 20" class="icon icon--close" aria-hidden="true" focusable="true"><use href="/images/close.svg#close" /></svg>
							<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
						</button>
						<ul class="menu">
							<li>
								<a class="menu__item" href="/">About</a>
							</li>
						</ul>
					</nav> #}
				</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
                    <div class="page-header">
                        <h1>{{ title }}</h1>
						<p class="subhead">Practical tools for co-ops.</p>
                    </div>
                    <div id="tools"><div>
				</main>
		</div>
		<footer class="content-info">
  			<div class="container"></div>
  		</footer>
		<script src="js/main.js"></script>

		{# <script src="{{ '/scripts/pinecone.umd.js' | path }}"></script> #}
	</body>
</html>
