{% extends 'layouts/base.njk' %}

{% block content %}
    <div class="page-header">
		<h1>{{ tool.name }}</h1>
	</div>
	<div class="content">
		{{ content | safe }}
	<div>
{% endblock %}

{{ content | safe }}
