@import '../../node_modules/@platform-coop-toolkit/pinecone/src/assets/styles/pinecone.scss';

.search-form-container {
    @include full-width-background(var(--blue-500));        
    grid-column: 1 / -1; 
    position: relative;     
    // On top of the full width background
    z-index: 0;      
}

.tool-detail-container {
    @include full-width-background(white);        
    grid-column: 1 / -1; 
    position: relative;     
    // On top of the full width background
    z-index: 0;      
}

// This seems like it shouldn't be necessary, but filter-wrapper 
// ends up on top of view-by-category otherwise
.filter-wrapper {
    grid-row: unset;
}